[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typer = "*"

[dev-packages]
black = "*"
twine = "*"
setuptools = "*"

[scripts]
fmt = "black textpression"
build = "setup.py sdist bdist_wheel"

[requires]
python_version = "3.12"
